{% extends "layout.html" %}
{% load static %}
{% block style %}{% static 'user_profile/css/registration/password_reset_complete.css' %}{% endblock %}
{% block title %}Password reset{% endblock %}
{% block content_main %}
    {% if not user.is_authenticated %}
        <div class="success-message-class">
            <h1 class="password-setup-title">Установка пароля</h1>
            <p class="success-message">
                Ваш пароль был установлен.
                Вы можете <a href="{% url "login" %}">войти</a>.
            </p>
        </div>
    {% else %}
        {% include 'registration/already_login.html' %}
    {% endif %}
{% endblock %}