textarea {
    text-align: left;
}

label[for="id_file"] {
    display: none;
}

.sentiment-detector button[type="submit"] {
    width: 100%;
}

.sentiment-detector form {
    max-width: 1000px;
    margin: 40px auto 0;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"] {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.sentiment-detector button[type="submit"] {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sentiment-detector button[type="submit"]:hover {
    background-color: grey;
}

.file-input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
}
