{% extends 'layout.html' %}
{% load static %}
{#{% block style %}{% static 'history/css/messages.css' %}{% endblock %}#}
{#{% block style2 %}{% static 'text_converter/css/text_to_audio_audio_upload.css' %}{% endblock %}#}
{% block title %}Detect language{% endblock %}
{% block content_main %}
    <div class="language-detector">
        <h1>Определение языка</h1>
        <form method="POST" hx-post="{% url 'language_view' %}" hx-target="#result" hx-swap="innerHTML" hx-indicator="#loading">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="detector">Определить язык</button>
        </form>
    </div>
    <div id="result"></div>
{% endblock %}
{#<form hx-post="{% url 'create-game' %}" hx-target="#game_view" method="POST" class="game-form">#}