{% extends 'layout.html' %}
{% load static %}
{% load custom_tag %}
{% block title %}Generate api key{% endblock %}
{% block style %}{% static 'api_key/css/api_key_form.css' %}{% endblock %}
{% block content_main %}
    <div class="language-detector">
        {% with key as api_key %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">API ключ</h5>
                    {% if api_key %}
                        <p class="card-text">{{ api_key.api_token }}</p>
                        {% get_throttle_value_html api_key.user.pk as token_throttle %}
                        {% if token_throttle %}
                            <p class="card-text">Можно использовать {{ token_throttle }} р.</p>
                        {% elif token_throttle <= 0 %}
                            {% get_throttle_value_duration_html api_key.user.pk as duration_throttle %}
                            <p class="card-text">Вы использовали все токены,
                                обновятся через {{ duration_throttle }} ч.</p>
                        {% else %}
                            <p class="card-text">Можно использовать {{ max_throttle }} раз</p>
                        {% endif %}
                        <p class="card-text">Истекает: {{ api_key.expired_at }}</p>
                    {% else %}
                        <p class="card-text">У вас ещё нет ключа, нажмите кнопку создать токен</p>
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent">
                    <button class="copy-button" onclick="copyToken()">Копировать токен</button>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="detector" class="gen-button" {% if block_update_but %}
                                data-tooltip="Превышен лимит обновлений" disabled {% endif %}>{% if api_key %}Обновить
                            токен {% else %}Создать токен{% endif %}</button>
                    </form>
                </div>
            </div>
        {% endwith %}
    </div>
    <script>
        function copyToken() {
            var tokenElement = document.querySelector('.language-detector .card-text');
            var token = tokenElement.textContent;
            var tempTextArea = document.createElement('textarea');
            tempTextArea.value = token;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            document.execCommand('copy');
            document.body.removeChild(tempTextArea);
        }
    </script>
{% endblock %}