{% extends 'layout.html' %}
{% load static %}
{% block style %}{% static 'history/css/history_detail.css' %}{% endblock %}
{% block title %}History detail view{% endblock %}
{% block content_main %}
    <div class="detail-history-card">
        <h2>Введенный текст: </h2>
        <p>{{ history_detail_obj.input_text }}</p>
        <h2>Результат обработки: </h2>
        <p>{{ history_detail_obj.result_text }}</p>
        <h4>Время добавления: {{ history_detail_obj.created_at }}</h4>
        <h2>Скачать <a href="{% url 'json_view' %}"><i class="bi bi-filetype-json"
                                                       style="color: grey; font-size: 25px"></i></a></h2>
    </div>
{% endblock %}