{% extends 'layout.html' %}
{% load static %}
{% load cache %}
{% block title %}Text language{% endblock %}
{% block style %}{% static 'text_language/css/text_language.css' %}{% endblock %}
{% block content_main %}
    {% cache 7200 choose_method %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'language_view' %}">
                                <h5 class="card-title">Определение языка</h5>
                            </a>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="icon-container">
                                <a href="https://textproc.com:8000/language-detector/api/docs/redoc">
                                    <i class="bi bi-filetype-doc" style="font-size: 25px"></i></a>
                                <a href="https://textproc.com:8000/language-detector/api/docs/swagger"><img
                                        src="{% static 'text_language/svg/swagger.svg' %}"
                                        alt="Swagger docs"
                                        width="25px"
                                        height="25px"></a>
                                <i class="bi bi-question-circle" data-tooltip="Позволяет вводить текст или
                        загружать из файла, для определения языка текста. Поддерживаемые языки:"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'summarize_view' %}"><h5 class="card-title">Реферирование текста</h5></a>
                            <p class="card-text">Краткое содержание текста</p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="icon-container">
                                <a href="https://textproc.com:8000/summarize-text/api/docs/redoc">
                                    <i class="bi bi-filetype-doc" style="font-size: 25px"></i></a>
                                <a href="https://textproc.com:8000/summarize-text/api/docs/swagger"><img
                                        src="{% static 'text_language/svg/swagger.svg' %}"
                                        alt="Swagger docs"
                                        width="25px"
                                        height="25px"></a>
                                <i class="bi bi-question-circle" data-tooltip="Позволяет вводить текст или
                        загружать из файла, для создания краткого содержания текста. Поддерживаются различные методы."></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'classification_view' %}"><h5 class="card-title">Определение темы
                                текста</h5></a>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="icon-container">
                                <a href="https://textproc.com:8000/classify-text/api/docs/redoc">
                                    <i class="bi bi-filetype-doc" style="font-size: 25px"></i></a>
                                <a href="https://textproc.com:8000/classify-text/api/docs/swagger"><img
                                        src="{% static 'text_language/svg/swagger.svg' %}"
                                        alt="Swagger docs"
                                        width="25px"
                                        height="25px"></a>
                                <i class="bi bi-question-circle" data-tooltip="Позволяет вводить текст или
                        загружать из файла, для определения темы текста. Поддерживаются различные методы."></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Извлечение ключевых слов</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <i class="bi bi-gear"></i>
                            <i class="bi bi-question-circle" data-tooltip="Позволяет вводить текст или
                        загружать из файла, для определения ключевых слов текста."></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'sentiment-view' %}"><h5 class="card-title">Анализ тональности</h5></a>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="icon-container">
                                <a href="https://textproc.com:8000/sentiment-text/api/docs/redoc">
                                    <i class="bi bi-filetype-doc" style="font-size: 25px"></i></a>
                                <a href="https://textproc.com:8000/sentiment-text/api/docs/swagger"><img
                                        src="{% static 'text_language/svg/swagger.svg' %}"
                                        alt="Swagger docs"
                                        width="25px"
                                        height="25px"></a>
                                <i class="bi bi-question-circle" data-tooltip="Позволяет вводить текст или
                        загружать из файла, для определения анализа тональности текста,
                        а именно: позитивный, негативный, нейтральный"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Извлечение именованных сущностей</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <i class="bi bi-gear"></i>
                            <i class="bi bi-question-circle" data-tooltip="Позволяет вводить текст или
                        загружать из файла, для извлечения именованных сущностей"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">API истории</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="icon-container">
                                <a href="https://textproc.com:8000/history/api/docs/redoc">
                                    <i class="bi bi-filetype-doc" style="font-size: 25px"></i></a>
                                <a href="https://textproc.com:8000/history/api/docs/swagger"><img
                                        src="{% static 'text_language/svg/swagger.svg' %}"
                                        alt="Swagger docs"
                                        width="25px"
                                        height="25px"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">API статуса обработки</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="icon-container">
                                <a href="https://textproc.com:8000/status/api/docs/redoc">
                                    <i class="bi bi-filetype-doc" style="font-size: 25px"></i></a>
                                <a href="https://textproc.com:8000/status/api/docs/swagger"><img
                                        src="{% static 'text_language/svg/swagger.svg' %}"
                                        alt="Swagger docs"
                                        width="25px"
                                        height="25px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock %}