.password-change-title {
    text-align: left;
    font-size: 30px;
}

.success-message {
    text-align: left;
    font-size: 20px;
}

.password-change-done {
    margin-left: 10px;
    margin-top: 20px;
}