.password-setup-title {
    text-align: left;
    font-size: 30px;
}

.success-message {
    text-align: left;
    font-size: 20px;
}

.success-message a {
    color: cornflowerblue;
    text-decoration: none;
}

.success-message a:hover {
    text-decoration: none;
    color: grey;
}

.success-message-class {
    margin-left: 10px;
    margin-top: 20px;
}