{% extends "layout.html" %}
{% load static %}
{% block style %}{% static 'user_profile/css/registration/register_done.css' %}{% endblock %}
{% block title %}Welcome Page{% endblock %}
{% block content_main %}
    <div class="register-done">
        <h1 class="welcome-title">Добро пожаловать {{ new_user.first_name }}!</h1>
        <p class="success-message">
            Ваш аккаунт был успешно создан.
            Сначала активируйте аккаунт на почте.
            Потом вы можете <a href="{% url "login" %}">войти</a>.
        </p>
    </div>
{% endblock %}