@import "api_key_form.css";

.tooltip-btn {
    position: relative;
}

.gen-button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 20%;
    left: 83%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: transparent;
    color: black;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.gen-button:hover::after {
    opacity: 1;
    visibility: visible;
}