.card {
    height: 100%;
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

.bi {
    font-size: 25px;
}

.card-footer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.copy-button, .gen-button {
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:hover, .gen-button:hover {
    background-color: grey;
}

.gen-button {
  position: relative;
}

.gen-button::after {
  content: attr(data-tooltip);
  position: absolute;
    width: 200px;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: gray;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.gen-button:hover::after {
  opacity: 1;
  visibility: visible;
}

